@model EducationCms.Web.Models.HomeVM

<section class="main-slider">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
            "effect": "fade",
            "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
            },
            "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
            },
            "autoplay": {
                "delay": 5000
            }}'>
        <div class="swiper-wrapper">


            @foreach (var item in Model.Banners)
            {

                <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(/frontend/images/backgrounds/main-slider-1-2.jpg);">
                    </div>
                    <!-- <div class="image-layer-overlay"></div> -->
                    <div class="main-slider-shape-1"></div>
                    <div class="main-slider-shape-2"></div>
                    <div class="main-slider-shape-3"></div>
                    <div class="main-slider-shape-4"></div>
                    <div class="main-slider-shape-5"></div>
                    <!-- /.image-layer -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="main-slider__content">
                                    @if (!string.IsNullOrWhiteSpace(item.TitleFirst))
                                    {
                                        <p>@item.TitleFirst</p>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.TitleSecond))
                                    {
                                         <h2>@item.TitleSecond</h2>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.Url))
                                    {
                                        <a href="@item.Url" class="thm-btn">Ətraflı</a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- If we need navigation buttons -->
        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                <span class="main-slider__next-text"></span><i class="icon-right-arrow icon-left-arrow"></i>
            </div>
            <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                <span class="main-slider__prev-text"></span><i class="icon-right-arrow"></i>
            </div>
        </div>
    </div>
</section>

<!--Real World Start-->
<section class="real-world">
    <div class="real-world-shape wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms"
         style="background-image: url(/frontend/images/shapes/real-world-shape.png)"></div>
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">@Model.Page?.Title</h2>
            <span class="section-title__tagline">@Html.Raw(Model.Page?.Description)</span>
        </div>
        <div class="row">
            @for (int i = 0; i < Model.StarredPage.Count; i++)
            {
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="@(i*300)ms" data-wow-duration="1500ms">
                    <!--Real World Single-->
                    <div class="real-world__single">
                        <h2 class="real-world__title">
                            <a href="business-growth.html"> @Model.StarredPage[i].Title</a>
                        </h2>
                        <a href="/@Model.StarredPage[i].Name" class="real-world__btn">Ətraflı</a>
                        <div class="real-world__icon-box">
                            <span class="@Model.StarredPage[i].Icon"></span>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!--Real World Start-->
<!--Welcome One Start-->
<section class="welcome-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome-one__left">
                    <div class="welcome-one__img-box">
                        <div class="welcome-one__img-1">
                            <img src="~/images/tizer/@Model.TizerVideo?.ImageRect.Name">
                        </div>
                        <div class="welcome-one__img-2">
                            <img src="~/images/tizer/@Model.TizerVideo?.ImageSquare.Name">
                        </div>
                        <a href="@Model.TizerVideo?.VideoUrl"
                           class="welcome-one__video-btn video-popup">
                            <div class="welcome-one__video-btn-icon">
                                <i class="fa fa-play"></i>
                                <span class="ripple"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome-one__right">
                    <h2 class="welcome-one__title">@Model.TizerVideo?.Title</h2>
                    <p class="welcome-one__text">
                        @Model.TizerVideo?.DescriptionFirst
                    </p>
                    <p class="welcome-one__text-two">
                        @Model.TizerVideo?.DescriptionSecond
                    </p>
                    <div class="welcome-one__progress">
                        <div class="welcome-one__progress-single">
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="@Model.TizerVideo?.Percent1%">
                                    <div class="count-text">@Model.TizerVideo?.Percent1%</div>
                                </div>
                            </div>
                            <h4 class="welcome-one__progress-title">@Model.TizerVideo?.Value1</h4>
                        </div>
                        <div class="welcome-one__progress-single">
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="@Model.TizerVideo?.Percent2%">
                                    <div class="count-text">@Model.TizerVideo?.Percent2%</div>
                                </div>
                            </div>
                            <h4 class="welcome-one__progress-title">@Model.TizerVideo?.Value2</h4>
                        </div>
                    </div>
                    <div class="welcome-one__call">
                        <div class="welcome-one__call-icon">
                            <span class="icon-phone-ringing"></span>
                        </div>
                        <div class="welcome-one__call-text">
                            <p>@Model.TizerVideo?.ContactText</p>
                            <a href="tel:@Model.TizerVideo?.PhoneNumber">@Model.TizerVideo?.PhoneNumber</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--Welcome One End-->
<!--Cases One Start-->
<section class="cases-one">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">@Model.Page?.Title2</h2>
            <span class="section-title__tagline">@Html.Raw(Model.Page?.Description2)</span>
        </div>
        <div class="row">
            @for (int i = 0; i < Model.LastVideos.Count; i++)
            {
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="@(i*300)ms" data-wow-duration="1500ms">
                    <!--Cases One Single-->
                    <div class="cases-one__single">
                        <div class="cases-one__img-box">
                            <div class="cases-one__img">
                                <img src="~/images/posts/@Model.LastVideos[i].Image.Name" alt="">
                            </div>
                            <div class="cases-one__content">

                                <p class="cases-one__tagline">@*Thought leadership businesses growth*@</p>
                                <p class="cases-one__tilte"><a href="/video/@Model.LastVideos[i].Title">@Model.LastVideos[i].Title</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--Cases One End-->
<!--Our Mission Start-->
<section class="our-mission">
    <div class="our-mission-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
         style="background-image: url(/frontend/images/backgrounds/our-mission-bg.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="our-mission__inner">
                    <h2 class="our-mission__title">
                        @Model.MV?.Title
                    </h2>
                    <p> @Model.MV?.Description</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Our Mission End-->
@*<section>
        <div class="container">
            <div class="text-lg-start">
                <span class="icon-tick"></span>
                <span class="icon-magnifying-glass1"></span>
                <span class="icon-right-arrow1"></span>
                <span class="icon-wealth"></span>
                <span class="icon-data-analytics"></span>
                <span class="icon-report"></span>
                <span class="icon-phone-ringing"></span>
                <span class="icon-mobile-analytics"></span>
                <span class="icon-research"></span>
                <span class="icon-creative"></span>
                <span class="icon-video"></span>
                <span class="icon-help"></span>
                <span class="icon-customer-review"></span>
                <span class="icon-consultant"></span>
                <span class="icon-checkmark"></span>
                <span class="icon-bank"></span>
                <span class="icon-protection"></span>
                <span class="icon-travel"></span>
                <span class="icon-software"></span>
                <span class="icon-consulting"></span>
                <span class="icon-group"></span>
                <span class="icon-consulting-1"></span>
                <span class="icon-creative-1"></span>
                <span class="icon-analysis"></span>
                <span class="icon-business"></span>
                <span class="icon-global"></span>
                <span class="icon-team1"></span>
                <span class="icon-magnifying-glass"></span>
                <span class="icon-shopping-cart"></span>
                <span class="icon-right-arrow"></span>
                <span class="icon-furnitures"></span>
                <span class="icon-buildings"></span>
                <span class="icon-house-design"></span>
                <span class="icon-architect"></span>
                <span class="icon-architect-1"></span>
                <span class="icon-architect-2"></span>
                <span class="icon-measure"></span>
                <span class="icon-blueprint"></span>
                <span class="icon-kitchen"></span>
                <span class="icon-architect-3"></span>
                <span class="icon-architect-4"></span>
                <span class="icon-architect-5"></span>
                <span class="icon-satisfaction"></span>
                <span class="icon-team"></span>
                <span class="icon-checklist"></span>
                <span class="icon-outsourcing"></span>
            </div>
        </div>
    </section>*@

<!--Faq One Start-->
<section class="faq-one">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">@Model.Page?.Title3</h2>
            <span class="section-title__tagline">@Html.Raw(Model.Page?.Description3)</span>
        </div>
        <div class="row">
          
            <div class="col-xl-6">
                
                <div class="faq-one__left">
                    @foreach (var item in Model.Faqs)
                    {
                        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">

                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4> @item.Question?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        
                                            @Html.Raw(item.Answer)
                                        
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                        </div>
                    }
                </div>
               
                </div>


           
                <div class="col-xl-6">
                    <div class="faq-one__right">
                        <div class="faq-one__img">
                            <img src="~/frontend/images/resources/faq-one-img-1.jpg" alt="">
                        </div>
                        <div class="faq-one__bottom">

                            <div class="faq-one__experience-box">
                                <h2>@Model.SiteSettings?.BuisnesStartTime</h2>
                                <h4 class="text-white">İllin Təcrübəsi</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
<!--Faq One End-->

<!--News One Start-->
<section class="news-one">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">@Model.Page?.Title4</h2>
            <span class="section-title__tagline">@Html.Raw(Model.Page?.Description4)</span>
        </div>
        <div class="row">
            @for (int i = 0; i < Model.Blogs.Count; i++)
            {
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="@(i*300)ms" data-wow-duration="1500ms">
                    <!--News One Single-->
                    <div class="news-one__single">
                        <div class="news-one__img">
                            <img src="~/images/posts/@Model.Blogs[i].Image.Name" alt="">
                            <a href="/blog/@Model.Blogs[i].Title">
                                <span class="news-one__plus"></span>
                            </a>
                        </div>
                        <div class="news-one__content">
                            <h3 class="news-one__title">
                                <a href="blog-details.html">@Model.Blogs[i].Title</a>
                            </h3>
                            <p class="news-one__text">
                              @Model.Blogs[i].Description
                            </p>
                            <a href="/blog/@Model.Blogs[i].Title" class="news-one__btn">Ətraflı</a>
                            <div class="news-one__date-box">
                                <p>@Model.Blogs[i].Time.ToString("d")</p>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</section>
<!--News One End-->
